@charset "utf-8";
.body_text {
	color: #12251B;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	background-image: url(daysrollby_styles.css);
}
.bullet_text {
	color: #464343;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
}
h2 {
	color: #564E4F;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 22px;
}
.img_float_left {
	float: left;
	border-color: #000000;
	margin-right: 20px;
	padding-right: 10px;
	margin-bottom: 10px;
}
.img_float_right {
	float: right;
	border-color: #000000;
	padding-left: 10px;
	margin-top: 10px;
	margin-left: 20px;
}

#nav_container ul {
	background-color: #eadcae;
	color: #c5c0c1;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	border-style: none;
	list-style-type: none;
	text-decoration: none;
	padding: 0 px;
	margin: 0 px;
	width: 910px;
	height: auto;
}
#nav_container ul li {
	height: 25px;
	display: inline;
	width: 910px;
	padding-left: 25px;
	padding-right: 26px;
}
#nav_container ul li a: hover {
	color: #003300;
	background-color: #A3C98E;
}

.table {
	background-color: #C5C0C1;
	text-align: left;
	margin: 5px;
	border: thin none #FFFFFF;
}
.contact_information {
	color: #2A2727;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-shadow: none none;
}
.links_text {
	color: #1E8223;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: normal;
	font-size: large;
}
hr {
	width: 900px;
	border-top: thin solid #1C623A;
}
.table_contact {
	width: 600px;
	border: thin solid #000000;
}
.body_text strong {
}
th {
	border: thin solid #C5C0C1;
}
td {
	border: thin solid #C5C0C1;
}

.bicycle_border {
	border: thin solid #000000;
}
.bigger_bullet_text {
	font-size: large;
}
